0x01-variables_if_else_while/0-positive_or_negative
0x01-variables_if_else_while/1-last_digit
0x01-variables_if_else_while/2-print_alphabet
0x01-variables_if_else_while/3-print_alphabets
0x01-variables_if_else_while/4-print_alphabt
0x01-variables_if_else_while/5-print_numbers
0x01-variables_if_else_while/6-print_numberz
0x01-variables_if_else_while/7-print_tebahpla
0x01-variables_if_else_while/8-print_base16
0x01-variables_if_else_while/9-print_comb
0x01-variables_if_else_while/100-print_comb3
0x01-variables_if_else_while/102-print_comb5
0x01-variables_if_else_while/101-print_comb4